Problem Fixed:Multiple values stored in one column

In [34]:
import pandas as pd

In [35]:
ebola=pd.read_csv('/Users/saurabh/cleaning_data/data/country_timeseries.csv')

In [36]:
ebola.shape

(122, 18)

In [37]:
ebola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.2+ KB

In [38]:
#lot of missing values

In [39]:
ebola_new=pd.melt(ebola,id_vars=['Date','Day'])

In [40]:
ebola_new.head()

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

In [41]:
# the cases/death column problem seems fixed but the variable still contains two bits of information:
#     -cases/deaths
#     -country name

In [48]:
variable_split=ebola_new['variable'].str.split('_',expand=True)  #split values at _

In [50]:
variable_split.head(5)

       0       1
0  Cases  Guinea
1  Cases  Guinea
2  Cases  Guinea
3  Cases  Guinea
4  Cases  Guinea

In [53]:
ebola_new[['cases/deaths','country']]=(ebola_new['variable']
                                       .str.split('_',expand=True))

In [ ]:
ebola_new.drop([])